.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 48px;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // padding-top: 200px;
  // padding-bottom: 200px;
  font-size: 36px;
  text-align: center;
}
.link {
  border: 2px solid #f2b443;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #333333;
  position: relative;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.link:hover {
  top: 0px;
  left: 0px;
}
