.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 200px;
  padding-bottom: 200px;
}
