.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.form {
  display: block;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.section {
  display: block;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}
